tests/** linguist-vendored
dep/* linguist-vendored

*.c linguist-vendored
*.h linguist-vendored
*.cpp linguist-vendored
*.hpp linguist-vendored
*.cc linguist-vendored
*.in linguist-vendored
*.cls linguist-vendored
*.p80 linguist-vendored
*.p10000 linguist-vendored
